* {
    margin: 0;
    padding: 0;
}

.stockimg{
width: 100%;
height: auto;
}

.cardrow{
    margin-left: 3.5rem;
    padding-bottom : 3rem;

}

@media (max-width: 576px) {
    .cardrow{
        margin-left: 0rem;
    }
}

.text{
    color: white;
    font-size: 1.75rem;
    position: start;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.cardbody{
    width: 20rem;
    background: linear-gradient(#36363E 25%, #292930 100%);
    color: white;
    padding: 1rem;
    padding-top: 3rem;
    border: solid #424245 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.cardicons{
    width: 60%;
    padding-left: 1rem;
}

.cardbutton{
    width: 100%;
    padding: 1rem;
    border: solid #424245 1px;
    margin-top: 1rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: #535355;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.cardtitles{
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}